#root {
  width: 100%;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

div {
  display: flex;
  flex-direction: column;
  border: 1px solid grey;
  margin: 5px;
  padding: 5px;
  color: black;
}

.bath {
  background-color: yellow;
}

.bedroom{
  background-color: blue;
}

.living-room {
  background-color: blueviolet;
  width: auto;
}

.sink {
  background-color: orange;
  width: 50%;
}

.oven {
  background-color: yellowgreen;
  width: 50%;
}

.kitchen {
  background-color: red;
  width: 50%;
  direction: flex;
  flex-direction: column;
}